@media (orientation: landscape) {
	.logobar {
		margin: 20px 20px 0 20px;
		padding: 0 30px;
		font-size: 75px;
	}
	.logobar:before,
	.logobar:after  {
		top: 60px;
	}
	.logobar:before {
		width: 26px;
	}
	.logobar:after {
		width: auto;
		left: 205px;
	}
	.navbar {
		padding: 20px;
		font-size: 40px;
	}
	.wrapper {
		perspective: 1350px;
	}
	.content {
		top: 85px;
		margin: 0 20px 20px 20px;
		height: calc(100vh - 90px);
		width: calc(100vw - 40px);
	}
	.projectlist {
		font-size: 3vw;
	}
	.projectlist h2 {
		font-size: 1.5vw;
	}

	h1 {
		font-size: 7.5vw;
		//font-size: 66px;
	}
	h2 {
		font-size: 4vw;
		font-size: 40px;
	}
	.subhead {
		font-size: 6vw;
		font-size: 40px;
	}
	p {
		font-size: 3vw;
		font-size: 25px;
		max-width: 720px;
	}

	div[class^="block-"],
	div[class^="cols-"] {
		margin-bottom: 4em;
		box-sizing: border-box;
	}

	.block-66r {
		width: calc(66.6666% - 2vw);
		margin-left: calc(33.3333% + 2vw);
	}
	.block-66l {
		width: calc(66.6666% - 2vw);
		margin-right: calc(33.3333% + 2vw);
	}
	.block-33l {
		width: calc(33.3333% - 2vw);
		margin-right: calc(66.6666% + 2vw);
	}

	.cols-33-66,
	.cols-66-33 {
		display: flex;
		justify-content: space-between;
	}

	.cols-reversed {
		flex-direction: row-reverse;
	}

	.cols-33-66 > *,
	.cols-66-33 > * {
		margin-top: 0;
		align-self: flex-start;
	}

	.cols-33-66 > *:first-child,
	.cols-66-33 > *:nth-child(2) {
		flex-basis: calc(33.3333% - 2vw);
	}

	.cols-33-66 > *:nth-child(2),
	.cols-66-33 > *:first-child {
		flex-basis: calc(66.6666% - 2vw);
	}

	.cols-vcenter {
		align-items: center;
	}
}