.work_images {
	position: relative;
	//opacity: 0;
	//visibility: hidden;
}

.btn {
	font-family: var(--fontMain);
	color: var(--mainColor);
	border: 4px solid;
	font-size: 3vw;
	padding: 1vw 1.75vw;
	background-color: transparent;
}