<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
				integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
				crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	</head>
	<body class="{% if page.body_class %}{{ page.body_class }}{% endif %}" >
		<div class="bg">
			<!-- <div class="orb white"></div> -->
			<div class="orb lt"></div>
			<div class="orb rb"></div>
			<div class="orb lb"></div>
		</div>
		<div class="wrapper">
			<div class="rotater">
				<div class="logobar"><a href="/index.html">flöter</a></div>
				<div class="navbar"><a href="/work.html">work</a> | <a href="/about.html">about</a></div>
				<div class="content">
					
					<div id="swup" class="content_text">
						{{ content }}
						<!-- {% if page.workimages %}
							<div class="work_images">
				         	 {% for item in page.workimages %}
				         	 <figure class="work_page_figure">
				         	   <img src="{{item.src}}" class="work_page_images" />
				         	    {% if item.caption %}
				         	   <figcaption class="work_page_figcaption">{{item.caption}}</figcaption>
				         	    {% endif %}
				         	 </figure>
				         	 {% endfor %}
							</div>
						{% endif %} -->
					</div>
				</div>
			</div>
		</div>
		
		<script src="/js/swup.min.js"></script>  
		<script src="/js/SwupSlideTheme.min.js"></script>
		<script src="/js/SwupScrollPlugin.min.js"></script>
		<script src="/js/SwupBodyClassPlugin.min.js"></script>
		<script src="/js/testing-gradient.js"></script>
	</body>
</html>